@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&display=swap');



.page-content{
    display: flex;
}
.app-filtros{
    justify-content:flex-start;
    width: 30%;
}

.app-lista{
    justify-content: flex-end;
    width: 70%;
}